<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Enrutar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
    <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($any($event))"
    >
      <ion-item *ngFor="let tarjeta of tarjetas">
        <ion-label>
          <ion-text color="primary"> Tarjeta #{{ tarjeta.numero }} </ion-text>|
          <ion-text color="secondary">{{ tarjeta.cliente.nombre }} </ion-text>|
          Deuda total: <b> {{ tarjeta.deuda }}</b>
        </ion-label>
        <ion-reorder>
          <ion-icon name="move-outline"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  <ion-button class="mt-3" expand="block" (click)="setEnrutamiento()"
    >Guardar</ion-button
  >
</ion-content>
