.siAbono {
  color: var(--ion-color-success);
}

.noAbono {
  color: var(--ion-color-danger);
}

.refinanciada {
  color: var(--ion-color-warning);
  font-size: 1.2rem;
}

.pagada {
  color: var(--ion-color-tertiary);
  font-size: 1.2rem;
}
